<% include ./partials/header %>
<div class="mb-2">
    <h1><%= movie %></h1>
        but as a 
    <h1><%= genre %></h1>
</div>

<%# Buttons  %>
<div >
    <button type="button" onclick="location.reload()" class="btn btn-success">
        NEW IDEA
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        SAVE IDEA 
    </button>
</div>

<%# Modal %>
<div class="modal" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header center">
            <p class="modal-title text-uppercase"><%= movie %> but as a <%= genre %></p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-b1">
            <textarea name="idea" form="usrform" class="form-control" style="min-width: 80%" placeholder="Idea goes here..."></textarea>
        </div>
            <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="genre">Genre</label>
        <select form="usrform" name="genre" id="genre" class="custom-select mr-sm-2">
            <option selected>Genre</option>
            <option value="horror">Horror</option>
            <option value="comedy">Comedy</option>
            <option value="action">Action</option>
            <option value="drama">Drama</option>
            <option value="fantasy">Fantasy</option>
            <option value="romance">Romance</option>
            <option value="scifi">Sci-Fi</option>
        </select>
        </div>
        <div class="modal-footer">    
            <form id="usrform" action="/submitidea" method="POST" >
                <input type='hidden' value="<%= movie %>" name="keyword1">
                <input type='hidden' value="<%= genre %>" name="keyword2">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>
<% include ./partials/footer %>
